<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help | Sales Tracker</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/help.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
</head>
<body>
    <!-- <h1>Dashboard</h1>
    <h3>Logged in : <strong>{{session.name}} | <a href="{{ url_for('logout') }}"> Logout</h3> -->
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">SalesTracker</h3>
            <label for="sidebar-toggle" class="ti-menu-alt" style="cursor: pointer;"></label>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/dashboard" id="dashboard_btn" onclick=showDashboard()>
                        <span class="ti-home"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/statistics" id="statistics_btn" onclick=showStatistics()>
                        <span class="ti-pulse"></span>
                        <span>Statistics</span>
                    </a>
                </li>
                <li>
                    <a href="/billing" class="help_btn" onclick=showBilling()>
                        <span class="ti-shopping-cart-full"></span>
                        <span>Billing</span>
                    </a>
                </li>
                <li>
                    <a href="/predict" class="predict_btn" onclick=showPredict()>
                        <span class="ti-bar-chart-alt"></span>
                        <span>Predict</span>
                    </a>
                </li>
                <li>
                    <a href="/help" class="help_btn" onclick=showPredict()>
                        <span class="ti-help"></span>
                        <span>Help</span>
                    </a>
                </li>
                <li>
                    <a href="/account" class="account_btn" onclick=showAccount()>
                        <span class="ti-settings"></span>
                        <span>Account</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="ti-shift-right"></span>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="Search">
            </div>
        </header>
        <main>
            {% block content %}
            <h2 class="dash-title">Help</h2>
            <div class="help-inner">
                <h3>Best Locations</h3>
                <div class="help-inner-content">
                    <form method="post" action="/bestlocations">
                        <input type="text" name="item_name" placeholder="Item Name" required="required">
                        <input type="submit" value="Get Locations">
                    </form>
                </div>
                {% if data == "None" and input == "None" %}
                    <p style="padding: 10px;">No results</p>
                {% else %}
                <div class="result-msg">
                    <h4>{{input}}</h4>
                    <ul class="best">
                    {% for item in data %}
                        <li>{{item['location']}} - ${{item['predict']}}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="help-inner">
                <h3>Best Items</h3>
                <div class="help-inner-content">
                    <form method="post" action="/bestitems">
                        <input type="text" name="location" placeholder="Location" required="required">
                        <input type="submit" value="Get Items">
                    </form>
                </div>
                {% if datas == "None" and inputs == "None" %}
                    <p style="padding: 10px;">No results</p>
                {% else %}
                <div class="result-msg">
                    <h4>{{inputs}}</h4>
                    <ul class="best">
                    {% for item in datas %}
                        <li>{{item['item']}} - ${{item['predict']}}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            {% endblock %}
        </main>
    </div>
</body>
</html>